<%- include ("partials/head") %>
<%- include ("partials/profilemenu") %>

<body class="profile">
        <section>
                <div>
                        <h1> <%= user.firstname %>'s Profile</h1>
                        <p>On this page you are able to edit your personal information and interests that other people
                                can see. <a href="/preview/<%= user._id %>">Preview Profile <i
                                                class="fas fa-long-arrow-alt-right"></i></a></p>
                        <h2>Basic Information</h2>
                        <form action="/updateuser" id="information" method="POST" enctype="multipart/form-data">
                                <div id="change-profipic">
                                        <p id="profilepictures"><img id="ownprofilepic"
                                                        src="../uploads/<%= user.image[1].filename %>"
                                                        alt="picture of user"></p>

                                        <label for="ownprofilepicchange">Change your profilepicture</label>
                                        <input type="file" name="profilepicture" id="ownprofilepicchange" accept=image/*
                                                value="<%= user._id %>">

                                </div>
                                <p><label for="username">Username</label> <input type="text" id="username"
                                                name="username" value="<%= user.id %>" autocomplete="off">
                                </p>
                                <p><label for="firstname">First name:</label> <input type="text" id="firstname"
                                                name="firstname" value="<%= user.firstname %>" autocomplete="off">
                                </p>
                                <p><label for="lastname">Last name:</label> <input name="lastname" id="lastname"
                                                type="text" value="<%= user.lastname %>" autocomplete="off"> </p>
                                <p><label for="age">Age:</label> <input name="age" id="age" type="number"
                                                value="<%= user.age %>" autocomplete="off"> </p>
                                <p><label for="gender">Gender:</label> <input name="gender" id="gender" type="text"
                                                value="<%= user.gender %>"> </p>
                                <p><label for="preferredgender">Looking for:</label> <input id="preferredgender"
                                                name="preferredgender" type="text" value="<%= user.preferredgender %>"
                                                autocomplete="off">
                                </p>
                                <p><label for="description">Description:</label> <textarea id="description"
                                                name="description" type="textarea" rows="4"
                                                cols="50"><%= user.description %></textarea>
                                </p>


                                <h2>Hobbies</h2>
                                <p><label for="hobbies">Hobby 1:</label> <input type="text" id="hobbies" name="hobbies"
                                                value="<%= user.hobbies[0] %>" autocomplete="off">
                                </p>
                                <p><label for="hobbies">Hobby 2:</label> <input type="text" id="hobbies" name="hobbies"
                                                value="<%= user.hobbies[1] %>" autocomplete="off">
                                </p>
                                <p><label for="hobbies">Hobby 3:</label> <input name="hobbies" id="hobbies" type="text"
                                                value="<%= user.hobbies[2] %>" autocomplete="off"> </p>
                                <h2>Your Dog</h2>

                                <input type="text" name="dogname" placeholder="Name of your dog"
                                        value="<%= user.dogname %>"></input>
                                <p id="dogpicture"><img src="../uploads/<%= user.image[0].filename %>"
                                                alt="picture of dog">
                                </p>

                                <button value="<%= user._id%>" name="_id" user-id=" <%= user._id %>">Update
                                        Information</button>

                        </form>
                        <hr>
                        <form action="/disableprofile" method="POST">
                                <button value="<%= user._id%>" name="_id" user-id=" <%= user._id %>">Disable
                                        Profile</button>
                                <p>Warning, this will delete your profile forever!</p>

                        </form>

                </div>

        </section>

        <%- include ("partials/footer") %>