<%- include ("partials/head") %>
<%- include ("partials/menu") %>

<body class="profile">
    <section>
        <div>
            <h1>Hi <%= data.firstname %></h1>
            <p>This is the data you've filled in</p>
            <form action="/updateuser" method="POST">
                <p><span>First name:</span> <input type="text" value="<%= data.firstname %>"> </p>
                <p><span>Last name:</span> <input type="text" value="<%= data.lastname %>"> </p>
                <p><span>Age:</span> <input type="number" value="<%= data.age %>"> </p>
                <p><span>Gender:</span> <input type="text" value="<%= data.gender %>"> </p>
                <p><span>Looking for:</span> <input type="text" value="<%= data.preferredgender %>"> </p>
                <button>Save</button>
            </form>
        </div>

    </section>

    <%- include ("partials/footer") %>