<%- include ("partials/head"); %>
<%- include ("partials/stepmenu"); %>

<body class="steps step5">

    <section>
        <article>
            <p>Step 5/5</p>
            <h1>Show yourself! 📸</h1>
            <p>We know a lot more about you now, <%= user.firstname %>. Its time to upload a picture of yourself so we
                can show your face to other people on this platform!
            </p>
            <article>
                <form action="/step5form" method="POST" enctype="multipart/form-data">
                    <p><img id="profile-picturepreview" /></p>
                    <div>
                        <label for="profilepicture">Upload a picture of yourself</label>
                        <input required type="file" name="profilepicture" id="profilepicture" accept=image/*>
                    </div>
                    <nav>
                        <a href="/step4/<%= user.id %>">Step 4</a>
                        <button>Next </button>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>