<%- include ("partials/head.ejs"); %>
<%- include ("partials/menu.ejs"); %>

<body class="steps step3">

    <section>
        <article>
            <p>Step 3/5</p>
            <h1>You and your hobbies ⚽</h1>
            <p><%= user.firstname %>, you know everybody has hobbies, fill in yours so we can match you to people with
                similar ones!
            </p>
            <article>
                <form action="/step3form" method="POST">

                    <label for="hobbies">Hobby 1</label>
                    <input type="text" name="hobby1" id="hobbies">

                    <label for="hobbies">Hobby 2</label>
                    <input type="text" name="hobby2" id="hobbies">

                    <label for="hobbies">Hobby 3</label>
                    <input type="text" name="hobby3" id="hobbies">

                    <label for="description">Describe yourself</label>
                    <input type="textarea" name="description" rows="4" cols="50" id="description"
                        placeholder="Describe yourself here">

                    <nav>
                        <a href="/step2/<%= user.id %>">Step 2</a>
                        <button>Next</button>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>