<%- include ("partials/head.ejs"); %>
<%- include ("partials/menu.ejs"); %>

<body class="steps step3">

    <section>
        <article>
            <p>Step 3/5</p>
            <h1>You and your hobbies ⚽</h1>
            <p><%= user.firstname %>, you know everybody has hobbies, fill in yours so we can match you to people with
                similar ones!
            </p>
            <article>
                <form action="/step3form" method="POST" id="step3form">
                    <div id="firsthobby">
                        <label for="hobbies">Hobby 1</label>
                        <input type="text" autocomplete="off" name="hobby1" id="hobby1">
                    </div>
                    <div class="hobbies">
                        <label for="hobbies">Hobby 2</label>
                        <input type="text" autocomplete="off" name="hobby2" id="hobbies">
                    </div>
                    <div class="hobbies">
                        <label for="hobbies">Hobby 3</label>
                        <input type="text" autocomplete="off" name="hobby3" id="hobbies">
                    </div>
                    <label for="description">Describe yourself</label>
                    <textarea name="description" rows="5" cols="20" id="description"
                        placeholder="What should other people know about you?"></textarea>

                    <nav>
                        <a href="/step2/<%= user.id %>">Step 2</a>
                        <button>Next</button>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>